In [1]:
import pandas as pd
import numpy as np

# Probability of Boy in Second Class

In [2]:
location = 'titanic3.xls'

df = pd.read_excel(location)

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [39]:
df_boy = df[(df['sex'] == 'male') & (df['age'] < 18) ]
df_second = df[df['pclass'] == 2]
df_second_boy = df_boy[df['pclass']== 2]
len(df_second_boy)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

15

In [6]:
len(df)

1309

In [40]:
p_boy = len(df_boy)/len(df)
p_second = len(df_second)/len(df)
p_second_boy = len(df_second_boy)/len(df_boy)
p_second_boy

0.18292682926829268

In [41]:
p_boy_second = p_boy * p_second_boy/(p_second)
p_boy_second

0.05415162454873646

# A women in 3rd class

In [42]:
df_women = df[(df['sex']=='female') & (df['age'] > 18)]
df_third = df[df['pclass'] == 3]
df_third_women = df_women[df['pclass']== 3]
len(df_third_women)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

94

In [43]:
p_women = len(df_women)/len(df)
p_third = len(df_third)/len(df)
p_third_women = len(df_third_women)/len(df_women)
p_third_women

0.31756756756756754

In [44]:
p_women_third = (p_women *  p_third_women)/ p_third
p_women_third

0.1325811001410437

# A man in 1st class

In [49]:
df_men = df[(df['sex'] == 'male') & (df['age'] > 18) ]
df_first = df[df['pclass'] == 1]
df_first_men = df_men[df['pclass'] == 1]
len(df_first_men)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

143

In [52]:
p_men = len(df_men)/len(df)
p_first = len(df_first)/len(df)
p_first_men = len(df_first_men)/len(df_men)
p_first_men

0.25673249551166966

In [54]:
p_men_first = (p_men * p_first_men)/p_first
p_men_first

0.44272445820433437